aside {
  justify-self: center;
  padding: 5px;
  background-color: #CBF3F0;
}
aside .section-header {
  margin: 0 0 5px 0;
  border-bottom: 1px solid black;
}

aside > *:not(:last-child) {
  margin-bottom: 10px;
}

aside > *:not(:first-child) {
  margin-top: 10px;
}

.author-info {
  grid-area: aside-author;
  text-align: center;
}
.author-info .author-photo {
  margin: 0;
  text-align: center;
}
.author-info .author-photo img {
  border-radius: 5px;
  max-width: 100%;
  object-fit: cover;
}
.author-info .author-name {
  margin: 0;
}

.other {
  grid-area: aside-other;
}
.other input {
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15pt;
}
.other input[type=text],
.other input[type=email] {
  height: 20px;
  padding: 15px 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  transition: border 0.3s;
}
.other input[type=text]:focus,
.other input[type=email]:focus {
  border: 2px solid black;
}
.other .social {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.other .social .fab {
  font-size: 20pt;
}
.other .subscribe form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.other .subscribe form .name-field,
.other .subscribe form .email-field {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}
.other .subscribe form .name-field label,
.other .subscribe form .email-field label {
  margin-right: 5px;
  font-weight: bold;
}
.other .subscribe form input[type=submit] {
  border: none;
  padding: 8px 0;
  text-decoration: underline;
  background-color: #FF9F1C;
  transition: box-shadow 0.2s;
  cursor: pointer;
}
.other .subscribe form input[type=submit]:hover {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.45);
}
.other .search-controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.other .search-controls input {
  width: 80%;
}
.other .search-controls .fa-search {
  font-size: 20pt;
  margin-right: 0 10px;
}
.other .tags .tag-cloud {
  padding: 5px;
  border-radius: 5px;
  background-color: #FFBF69;
  text-align: center;
}
.other .comments .comment {
  border: 2px solid grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: white;
}
.other .comments .comment .comment-body,
.other .comments .comment img {
  padding: 5px;
}
.other .comments .comment .comment-body {
  min-width: 0;
}
.other .comments .comment img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 10px;
}
.other .comments .comment .name {
  font-weight: bold;
  margin-right: 10px;
}
.other .comments .comment .time {
  font-size: 12pt;
  color: grey;
}
.other .comments .comment .comment-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.other .comments .comment:not(:last-child) {
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  aside {
    max-width: 500px;
    width: 100vw;
    box-sizing: border-box;
  }

  .other input[type=text],
.other input[type=email] {
    height: 50px;
  }
}
@media only screen and (min-width: 600px) {
  aside {
    max-width: 300px;
  }
}

/*# sourceMappingURL=aside.css.map */
