@import 'colors';

.header-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: $max-blue-green;
}

.logo img {
    min-height: 100px;
    margin-left: 20px;
    height: 100px;
    align-self: center;
}

.controls {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);

    nav {
        align-self: end;
        font-size: 15pt;

        a {
            margin-right: 10px;
        }
    }
}

.icon-btns {
    display: flex;
    justify-content: space-between;

    .fas, .fab {
        font-size: 20pt;
    }

    .search-icon {
        margin-right: 40px;
    }

    .social .fab {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 600px) {
    div#menu-toggle {
        display: block;
    }

    header {
        position: sticky;
        top: 0;
        margin-top: 0;

        .logo {
            z-index: 100;

            img {
                min-height: 50px;
                height: 50px;
                margin-left: 0;
            }
        }
    }
    
    .controls nav {
        display: none;
    }

    .icon-btns .search-icon {
        margin-right: 20px;
        align-self: center;

        .fa {
            font-size: 30pt;
        }
    }

    .social {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    div#menu-toggle {
        display: none;
    }
}
